<p><%= comment.content%></p>
<p>Reply by <%= "#{comment.user.first_name} #{comment.user.last_name}" %> on <%= comment.created_at.strftime("%A, %B %y, %Y at %r") %></p>

<% if user_signed_in? %>
  <% if comment.user_id == current_user.id %>
    <%= link_to "Edit Reply", edit_post_comment_path(comment.post_id, comment), class: "btn btn-success btn-sm" %>
    <%= link_to "Delete Reply", post_comment_path(comment.post_id, comment), method: :delete, data: { confirm: "Delete this reply?" }, class: "btn btn-danger btn-sm" %>
  <% end %>
<% end %>
<hr>